<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset email</title>
</head>
<body>
    <h2>Bonjour {{ user.get_full_name|default:user.email }},</h2>
    <p> 
        To reset your password, click on the following link :
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

         If you did not request this change, please ignore this message.
    </p>
</body>
</html>

